$color-white: #fff;
$color-black: #2C2C2C;
$color-blue: #18A0FB;
$color-gray: #878787;
$color-ogange: #FF3E1D;
$color-green: #00D200;
$color-bg: rgba(224, 224, 224, 0.3);
$color-bor: #E0E0E0;

$fz-xl: 25px;
$fz-md: 15px;
$fz-sm: 13px;
