@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@600&display=swap');

@import "reset.css";


body{
   font-family: 'Lato', sans-serif;
   color: #000;
   font-size: 14px;
   font-weight: 400;
   line-height: 140%;
}

[class$="__container"]{
   max-width: 1142px;
   margin: 0 auto;
   padding: 0 15px;
}

.wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.title{
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 36px;
   font-weight: 600;
   line-height: 120%;
}

/* header */
.header{
   background-color: #ED4C5C;
}

.header__row{
   display: flex;
   flex-wrap: wrap;

   padding: 95px 0;
}

/* header-body */
.header__body{
   flex: 0 1 50%;
}

.header__content{
   padding: 27px 80px 0px 0px;
   margin-bottom: 40px;
}

.content-header__title{
   margin-bottom: 24px;
}

.content-header__text{
   color: #fff;
   text-align: justify;
}


/* header-link */
.content-header__items{
   display: flex;
   align-items: center;
   column-gap: 23px;
}

/* header-image */
.header__image{
   flex: 0 1 50%;
}

.image-header__row img{
   max-width: 100%;
}


/* main */
.main{
   flex: 1 1 auto;

   background-color: #fff;
}

.main__row{
   display: flex;
   flex-wrap: wrap;

   padding: 78px 0px 117px 0px;
}


/* content */
.main__body{
   flex: 0 1 55%;   
}

.main__content{
   padding: 0px 114px 0px 15px;
}

.content-main__title{
   color: #000;
   margin-bottom: 24px;
}

.content-main__text{
   color: #000;
   text-align: justify;
}


/* form */
.main__form{
   flex: 0 1 45%;
}

/* input-name */
.form-main__name{
   display: flex;
   align-items: center;
   column-gap: 30px;

   margin-bottom: 24px;
}

.form-main__name input{
   flex: 0 1 47%;
   height: 60px;

   padding: 0 15px;
   border-radius: 6px;
   border: 1px solid #333;
}


/* input-phone-number */
.form-main__phone-number input{
   width: 100%;
   height: 60px;

   padding: 0 15px;
   border-radius: 6px;
   border: 1px solid #333;
   margin-bottom: 24px;
}

/* select-service */
.form-main__service input{
   width: 100%;
   height: 60px;

   background: url(../image/ChevronDown.png) 95% center no-repeat;

   padding: 0 15px;
   border-radius: 6px;
   border: 1px solid #333;
   margin-bottom: 24px;
}

/* submit */
.form-main__submit input{
   color: #fff;
   text-transform: uppercase;

   background-color:#ED4C5C;

   padding: 20px 40px;
   border-radius: 6px;   
}
input::placeholder{
   color: rgba(19, 39, 67, 0.5);
}



/* footer */
.footer{
   background-color: #fafafa;
}

.footer__nav{
   padding: 85px 0;
}

.nav-footer{
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;

   margin: 0 -15px;
}

.nav-footer__items{
   flex: 0 1 25%;
   padding: 0 15px;
}

.nav-footer--column{
   display: flex;
   flex-direction: column;
   min-height: 259px;
}

li.nav-footer__item--title{
   color: #101010;
   font-family: 'Lato', sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 130%;

   margin-bottom: 33px;
}

.nav-footer__item--big{
   flex: 1 1 auto;   
   padding-right: 70px;
}

.nav-footer__item,
a.nav-footer__link{
   color: #101010;
   font-family: 'Lato', sans-serif;
   font-size: 12px;
   font-weight: 400;
   line-height: 150%;
}

.nav-footer__items--service li:not(:first-child){
   margin-bottom: 5px;
}
.nav-footer__items--service li:last-child{
   margin: 0;
}
.nav-footer__items--touch li:not(:first-child){
   margin-bottom: 5px;
}
.nav-footer__items--touch li:last-child{
   margin: 0;
}

.social{
   display: flex;
   column-gap: 12px;
}