/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500;700&family=Reem+Kufi+Ink&family=Roboto:wght@400;700&display=swap');

/* reset */
@import 'reset.css';

body{
   font-family: 'Reem Kufi Fun', sans-serif;
   color: #4B5D68;
   font-weight: 500;
   font-size: 18px;
   line-height: 160%;
}

[class*="__container"]{
   max-width: 1248px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
}

/* Media */
@media (max-width: 1280px) {
   [class*="__container"]{
      max-width: 1150px; 
   }
}

@media (max-width: 1200px) {
   [class*="__container"]{
      max-width: 992px; 
   }
}

@media (max-width: 992px){
   [class*="__container"]{
      max-width: 768px; 
   }
}

@media (max-width: 768px){
   [class*="__container"]{
      max-width: none; 
   }
}

.wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.subtitle{
   color: #212353;
   font-family: 'Roboto', sans-serif;
   font-size: 40px;
   font-weight: 700;
   line-height: 130%;
}

.btn-request{
   color: #212353;
   font-family: 'Reem Kufi Fun', sans-serif;
   font-size: 16px;
   line-height: 160%;
   font-weight: 700;
   letter-spacing: 0.005em;

   background: #FFFFFF url(../images/header/line-left.svg) 88% center no-repeat;
   box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);

   border-radius: 50px;
   padding: 17px 60px 17px 25px;

   transition: background 0.2s linear 0s; 
   overflow: hidden;  
}

.btn--active{
   position: relative;
}

.btn--active:active{
   top: 2px;
   box-shadow: none;
}

.btn-request:hover{
   background: #f5f5f5 url(../images/header/line-left.svg) 88% center no-repeat;
   transition: background 0.2s linear 0s;
}

.btn-learn{
   color: #fff;
   font-family: 'Reem Kufi Fun', sans-serif;
   font-weight: 700;
   font-size: 18px;
   letter-spacing: 0.005em;
   line-height: 160%;   

   padding: 16px 35px;
   border-radius: 50px;
   overflow: hidden;
}


/* header */
.header{
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(213,66,64,0.8491771708683473) 0%, rgba(123,127,145,1) 0%, rgba(247,253,255,1) 0%, rgba(230,250,255,1) 100%, rgba(219,248,255,1) 100%, rgba(202,246,255,1) 100%, rgba(145,236,255,1) 100%, rgba(166,239,255,1) 100%, rgba(131,234,255,1) 100%, rgba(0,212,255,1) 100%);
}

/* header-container */
.header__row{
   padding-top: 50px;
}

/* menu */
.menu{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu__nav{
   display: flex;
   align-items: center;
   column-gap: 120px;

   position: relative;
}

.menu__items{   
   display: flex;
   align-items: center;
   column-gap: 40px;
}

.menu__link{
   color: #4B5D68;
   font-family: 'Reem Kufi Fun', sans-serif;
   font-size: 16px;
   line-height: 160%;
   font-weight: 700;

   position: relative;
   transition: color 0.1s linear 0s;
}

.menu__link:hover{
   color: #212353;
   transition: color 0.2s linear 0s;
}

.menu__link::before{
   content: '';
   width: 100%;
   height: 3px;
   background-color: #212353;
   border-radius: 20px;
   position: absolute;
   top: 100%;
   left: 0;
   opacity: 0;
   transition: all 0.1s linear 0s;
}

.menu__link:hover::before{
   content: '';
   width: 100%;
   height: 3px;
   background-color: #212353;
   border-radius: 20px;
   position: absolute;
   top: 100%;
   left: 0;
   opacity: 1;
   transition: all 0.2s linear 0s;
}

/* burger-menu */
.burger-menu{
   display: none;
   width: 50px;
   height: 50px;

   background-color: transparent;
   position: relative;
}

.burger-menu::before,
.burger-menu::after{
   content: '';
   width: 100%;
   height: 5px;   
   background-color: #212353;
   position: absolute;
}
.burger-menu::before{
   top: 0;
   left: 0;
}
.burger-menu::after{
   top: 91%;
   left: 0;
}
.burger-menu__link{
   width: 100%;
   height: 5px;
   background-color: #212353;
}

/* burger-close */
.burger-close{  
   display: none;
   position: relative;
   width: 50px;
   height: 50px;
   background-color: transparent;
}

.burger-close::before,
.burger-close::after{
   content: '';
   width: 100%;
   height: 5px;
   background-color: #212353;
   position: absolute;
}

.burger-close::before{
   top: 50%;
   left: 0;
   transform: rotate(-45deg);
}
.burger-close::after{
   top: 50%;
   left: 0;
   transform: rotate(41deg);
}

/* header-section-content */
.header__content{
   padding: 130px 0;
}

.content-header{
   background: url(../images/header/header-bg.png) right 100%/73% no-repeat;
}

.content-header__body{
   max-width: 645px;
}

.content-header__title{
   color: #212353;
   font-family: 'Roboto', sans-serif;
   font-size: 80px;
   font-weight: 700;
   line-height: 110%;

   margin-bottom: 50px;
}

.content-header__text{
   max-width: 380px;
   margin-bottom: 50px;   
}

.content-header__btn{
   background-color: #9C69E2;
   transition: background-color 0.1s linear 0s;
   position: relative;
}

.content-header__btn:active{
   top: 2px;
}

.content-header__btn:hover{
   background-color: #7324e0;
   transition: background-color 0.2s linear 0s;
}

/* Media header */
@media (max-width: 1200px){
   .content-header {
      background: url(../images/header/header-bg.png) right 100%/70% no-repeat;
  }
}

@media (max-width: 992px){
   .content-header__title {      
      font-size: 75px;    
  }  
}

@media (max-width: 768px){   
   .burger-menu{
      display: flex;
      align-items: center;
      z-index: 11;
   }
   .menu__items{
      width: 100%;
      height: 100%;
      overflow: hidden;

      position: fixed; 
      z-index: 10;    
      top: 0;
      left: -100%; 
    

      flex-direction: column;
      justify-content: space-evenly;
      column-gap: 0;
      
      background-color: rgb(240, 99, 184);
      transition: all 0.1s linear 0s;
   }

   .header__row:target .menu__items{
      left: 0;
   }

   .header__row:target .burger-menu{
      display: none;
   }
   .header__row:target .burger-close{
      display: block;
      z-index: 11;
   }

   .header__menu:target .burger-close{
      display: none;
   }

   .header__menu:target .burger-menu{
      display: flex;
   }

   .menu__link{
      color: #fff;
      font-size: 30px;
   }

   .menu__link::before{
      display: none;
   }

   .menu__btn{
      display: none;
   }   

}


@media (max-width: 576px){
   
   .content-header__body {
      max-width: none;
   }
   .content-header__title {
      font-size: 60px;
   }
}

@media (max-width: 428px){
   .header{
      width: 100%;
   }
   
   .content-header__title{
      font-size: 55px;
   }
}


/* main */
.main{
   flex: 1 1 auto;
}


/* section we-are */
.we-are{
   background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.we-are__box{
   padding: 100px 0;
}

.we-are__row{   
   max-width: 1117px;

   display: flex;   
   justify-content: space-around;
   align-items: center;  

   background: rgba(240, 99, 184, 0.15);
   border-radius: 50px;
}

.we-are__img{
   flex: 0 1 477px;
}
.we-are__img img{
   max-width: 100%;
}

.we-are__content{
   flex: 0 1 475px;
}

.we-are__title{
   margin-bottom: 40px;
}

/* Media we-are */
@media (max-width: 992px){
   .we-are__row{
      max-width: none;
      flex-wrap: wrap-reverse;
      justify-content: center;
      padding: 30px 0;
   }
   .we-are__img{
      flex: 0 1 auto;
   }
   .we-are__content{
      max-width: 450px;
      flex: 0 1 auto;
   }

   @media (max-width: 768px){
      .we-are__img{
         flex: 0 1 90%;
      }
      .we-are__img img{
         max-width: 100%;
      }
   }
}

@media (max-width: 576px){
   .we-are__container{
      padding: 0;
   }
   .we-are__row {     
      padding: 40px 20px;
   }
  .we-are__content {
      max-width: none;  
      text-align: center;
   }
}

@media (max-width: 428px){
   .main{
      width: 100%;
   }
   .subtitle{
      font-size: 30px;
   }
}

/* features */
.features{
   background: #fff;
}


.features__content{
   max-width: 584px;
   text-align: center;

   margin: 0 auto;
}

.features__title{
   margin-bottom: 25px;
}

.features__text{
   margin-bottom: 70px;
}


/* columns-features */
.columns-features{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 100px;
}

.columns-features__items{
   flex: 0 1 41.58653846153846%;
}

.columns-features__item{
   display: flex;
   align-items: flex-start;
   column-gap: 30px; 
}

.columns-features__img{
   flex: 0 0 245px;
}

.columns-features__img img{
   max-width: 100%;
}

.columns-features__content{
   flex: 0 1 45%;

   display: flex;
   flex-direction: column;   
   row-gap: 20px;
   align-items: flex-start;

   min-height: 300px;
}

.columns-features__title{
   color: #212353;
   font-family: 'Roboto', sans-serif;
   font-size: 24px;
   font-weight: 400;
   line-height: 130%;  
}

.columns-features__text{
   flex: 1 1 auto;   
}

.columns-features__btn{
   color: #212353;
   font-family: 'Reem Kufi Fun', sans-serif;
   font-size: 16px;
   font-weight: 700;
   line-height: 160%;

   padding: 15px 60px 15px 15px;
   border-radius: 50px;

   background: url(../images/header/line-left.svg) 88% 56% no-repeat;
   
   position: relative;
   transition: all 0.1s linear 0s;
   overflow: hidden;
}

.columns-features__btn:hover{
   background: #f5f5f5 url(../images/header/line-left.svg) 88% 56% no-repeat;
   box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
   transition: all 0.2s linear 0s;
}

.columns-features__btn:active{
   top: 2px;   
}

/* Media features */
@media (max-width: 1200px){
   .columns-features__items {
      flex: 0 1 48.586538%;
  }
}

@media (max-width: 992px){
   .columns-features {      
      justify-content: center;
   }
  .columns-features__items {
      flex: 0 1 100%;
   }
   .columns-features__item{
      justify-content: center;
   }
}

@media (max-width: 576px){
   .features__content {
      max-width: none;      
      margin: 0;
  }
  .columns-features {   
      justify-content: stretch;       
   }  
   .columns-features__item {
      flex-direction: column;
      align-items: center;
      column-gap: 0;
   }
   .columns-features__content {
      flex: 0 1 100%;   
      row-gap: 20px;
      align-items: center;
      min-height: 0;
      text-align: center;
   }
}

@media (max-width: 428px){

}

/* testimonials */
.testimonials{
   background-color: #fff;
}

.testimonials__box{
   padding: 100px 0;
}

.testimonials__row{
   max-width: 1118px;

   background-color: #9C69E2;

   border-radius: 50px;
   padding: 100px 0;
}

.testimonials__items{
   max-width: 950px;
   margin: 0 auto;
}

.testimonials__title{
   margin-bottom: 90px;
}

.testimonials__title h2{   
   color: #FFFFFF;
   font-family: 'Roboto', sans-serif;
   font-size: 40px;
   font-weight: 700;
   line-height: 130%;
}


/* column-testimonials */
.column-testimonials{
   background-color: #fff;
   box-shadow: 0px 20px 10px rgb(138, 60, 248);

   border-radius: 20px;
   padding: 50px 0;   
}

.testimonials__column{
   margin-bottom: 60px;
}

.column-testimonials__row{
   max-width: 740px;
   margin: 0 auto;
  
   display: flex;
   align-items: flex-start;   
   column-gap: 45px;
}

.column-testimonials__caption{
   margin-bottom: 20px;
}

.column-testimonials__title{
   color: #212353;
   font-family: 'Reem Kufi Fun', sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 160%;
}

.column-testimonials__link{
   color: #9C69E2;
   font-family: 'Reem Kufi Fun', sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 160%;
   letter-spacing: 0.01em;
}

.column-testimonials__text{  
   font-size: 18px;
   line-height: 180%;
}


/* testimonials__decore */
.testimonials__decore{
   display: flex;
   justify-content: space-between;
}

.testimonials__circles span:not(:last-child){
   margin-right: 5px;
}

.testimonials__circle{
   display: inline-block;
   width: 5px;
   height: 5px;

   background-color: #fff;

   border-radius: 50%;
   overflow: hidden;
}

.testimonials__circle--red{
   width: 7px;
   height: 7px;
   
   background-color: #F063B8;
}

.testimonials__lines a:first-child{
   display: inline-block;
   margin-right: 20px;
}


/* Media testimonials */
@media (max-width: 992px){
   .testimonials__row {
      max-width: none;
      padding: 100px 20px;
   }
   .testimonials__items {
      max-width: none;
      margin: 0;     
  }
}

@media (max-width: 576px){
   .testimonials__title h2{
      text-align: center;   
   }
   .column-testimonials__row {
      max-width: none;
      margin: 0;     
      column-gap: 0;
      padding: 0 15px;
   }
   .column-testimonials__content{
      padding: 0 5px 0 15px;
   }
}

@media (max-width: 428px){
   .testimonials__container{
      padding: 0;
   }   
   .column-testimonials__row {
      flex-direction: column;      
   }
   
   .column-testimonials__img{
      margin-bottom: 15px;
   }
}


/* footer */
.footer{
   background-color: #fff;
}

.footer__row{
   padding: 100px 0;
}

.footer__content{
   max-width: 1117px;
   padding-bottom: 100px;
}

.content-footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.content-footer__caption{
   flex: 0 1 40%;
}

.content-footer__title{
   margin-bottom: 20px;
}

.content-footer__buttons{
   display: flex;
   align-items: center;
   column-gap: 30px;
}

.content-footer__btn--color-pink{
   background-color: #F063B8;
   transition: background-color 0.1s linear 0s;
}

.content-footer__btn--color-pink:hover{
   background-color: #e8098f;
   transition: background-color 0.2s linear 0s;
}

/* footer-menu */
.menu-footer{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

/* item content-menu*/
.menu-footer__content{
   flex: 0 1 30%;
}
.content-menu{
   display: flex;
   flex-direction: column;
   min-height: 400px;
}

.content-menu__caption{
   display: flex;
   align-items: center;
   column-gap: 20px;
   margin-bottom: 50px;
}

.content-menu__item{
   flex: 1 1 auto;
}

.content-menu__title{
   color: #212353;
   font-family: 'Reem Kufi Fun', sans-serif;
   font-size: 20px;
   font-weight: 700;
   line-height: 160%;
}


.content-menu__text p,
.content-menu__mail p{
   color: #212353;
   font-family: 'Reem Kufi Fun', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 180%;
   letter-spacing: 0.01em;
}

.content-menu__text{
   margin-bottom: 10px;
}

.content-menu__rights p{
   color: #212353;
   font-family: 'Reem Kufi Ink', sans-serif;
   font-size: 12px;
   font-weight: 400;
   line-height: 180%;
   letter-spacing: 0.01em;
}


/* item menu__nav */
.menu-footer__nav{
   flex: 0 1 60%;

   display: flex;
   align-items: flex-start;
   justify-content: center;
   column-gap: 130px;
}

.menu-footer__items,
.menu-footer__social{
   padding: 0 10px;
}

.menu-footer__items li:not(:last-child){
   margin-bottom: 10px;
}

.menu-footer__items li.item-title{
   color: #212353;
   font-family: 'Reem Kufi Fun', sans-serif;
   font-size: 16px;
   line-height: 160%;
   font-weight: 700;

   margin-bottom: 30px;
}

.menu-footer__link{
   color: #212353;
   font-family: 'Reem Kufi Ink', sans-serif;
   font-weight: 400;
   font-size: 16px;   
}


.social__items{
   display: flex;
   align-items: center;
   column-gap: 15px;
}

.social__link{   
   display: flex;
   align-items: center;
   justify-content: center;

   width: 50px;
   height: 50px;

   background-color: #e9e9ee;

   overflow: hidden;
   border-radius: 50%;

   position: relative;
   z-index: 1;
}

.social__link:active{
   top: 2px;
}

.social__title{
   color: #212353;
   font-family: 'Reem Kufi Fun', sans-serif;
   font-size: 16px;
   line-height: 160%;
   font-weight: 700;

   margin-bottom: 30px;    
}

.social__link{
   background-color: #e9e9ee;
   transition: background-color 0.1s linear 0s;
}

.social__link--blue:hover{
   background-color: #4267B2;
   transition: background-color 0.2s linear 0s;
}

.social__link--light-azure:hover{
   background-color: #1DA1F2;
   transition: background-color 0.2s linear 0s;   
}


.social__link--orange img{
   position: relative;
   z-index: 2;
}

.social__link--orange::after{
   content: '';
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
   position: absolute;
   top: 0;
   right: 0;
   z-index: 0;

   opacity: 0;
   transition: all 0.1s linear 0s;
}

.social__link--orange:hover::after{
   content: '';
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
   position: absolute;
   top: 0;
   right: 0;
   z-index: 0;

   opacity: 1;
   transition: all 0.2s linear 0s;
}


/* Media footer */
@media (max-width: 1200px){
   .menu-footer__nav {    
      column-gap: 0;
      justify-content: space-between;
  }
}

@media (max-width: 992px){
   .footer__row{
      padding: 0;
      padding-bottom: 50px;
   }
   .content-footer__buttons {     
      flex-direction: column;    
      column-gap: 0;
      row-gap: 20px;
   }
   
}

@media (max-width: 768px){
   .menu-footer{     
      justify-content: flex-start;
   }
   .footer__content {
      max-width: none;
      padding-bottom: 50px;
  }
   .menu-footer__nav{
      flex: 0 1 30%;      
    
      justify-content: flex-start;
      column-gap: 0;
   }
   .content-menu,
   .menu-footer__items{
      display: none;
   }
}

@media (max-width: 576px){
   .content-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
      row-gap: 30px;
   }
   .content-footer__caption {
      flex: 0 1 50%;
      text-align: center;
   }
   .menu-footer {
      justify-content: center;
   }
   .social__title {
      text-align: center;
   }
}