@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  color: #6F7CB2;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 162%;
  font-weight: 400;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.header .header__row {
  display: none;
  justify-content: space-between;
  padding: 12px 0;
  position: relative;
}
.header .header__logo {
  flex: 0 1 8.7719298246%;
  text-align: center;
}
.header .header__logo a {
  color: #37447E;
  font-size: 1.625rem;
  line-height: 146%;
  font-weight: 900;
}
.header .menu-nav {
  padding: 12px 0;
}
.header .menu-nav__items {
  flex: 0 0 21.4912280702%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.header .menu-nav__items .menu-nav__link {
  color: #505F98;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 171%;
  position: relative;
}
.header .menu-nav__items .menu-nav__link::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #505F98;
  border-radius: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: all 0.1s linear 0s;
}
.header .menu-nav__items .menu-nav__link:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #505F98;
  border-radius: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 1;
  transition: all 0.2s linear 0s;
}
.header .menu-nav__logo {
  flex: 0 1 8.7719298246%;
  text-align: center;
}
.header .menu-nav__logo a {
  color: #37447E;
  font-size: 1.625rem;
  line-height: 146%;
  font-weight: 900;
}
.header .menu-nav__btn {
  flex: 0 1 28.5087719298%;
}
.header .menu-nav__btn button {
  width: 160px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111B47;
  border-radius: 2px;
  padding: 4px 0;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 150%;
  transition: background-color 0.1s linear 0s;
  position: relative;
}
.header .menu-nav__btn button:hover {
  background-color: #112167;
  box-shadow: 0 1px 2px 2px #111B47;
  transition: background-color 0.2s linear 0s;
}
.header .menu-nav__btn button:active {
  top: 2px;
  box-shadow: none;
}
.header .burger-menu {
  width: 30px;
  height: 25px;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .burger-menu span {
  width: 100%;
  height: 3px;
  background-color: #112167;
}
.header .burger-menu::before, .header .burger-menu::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #112167;
  position: absolute;
}
.header .burger-menu::before {
  top: 0;
  left: 0;
}
.header .burger-menu::after {
  bottom: 0;
  left: 0;
}
.header .burger-menu__close {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2vw;
  right: 2vw;
  z-index: 7;
}
.header .burger-menu__close::before, .header .burger-menu__close::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #112167;
  position: absolute;
}
.header .burger-menu__close::before {
  top: 0;
  left: 0;
  transform: rotate(44deg) translate(10px, 10px);
}
.header .burger-menu__close::after {
  bottom: 0;
  left: 0;
  transform: rotate(-46deg) translate(9px, -9px);
}
@media (max-width: 767.98px) {
  .header .header__row {
    display: flex;
    padding: 12px 0;
  }
  .header .menu-nav {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center !important;
    gap: 30px 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background-color: #112167;
  }
  .header .menu-nav__items {
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    padding: 0;
    order: 2;
  }
  .header .menu-nav__items .menu-nav__link {
    color: #fff;
    font-size: 1.25rem;
  }
  .header .menu-nav__items .menu-nav__link::before, .header .menu-nav__items .menu-nav__link:hover::before {
    display: none;
  }
  .header .menu-nav__logo {
    padding: 0;
    order: 1;
  }
  .header .menu-nav__logo a {
    color: #fff;
    font-size: 2.25rem;
  }
  .header .menu-nav__btn {
    order: 3;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .menu-nav__btn button {
    color: #111B47;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: rgb(245, 245, 245);
  }
  .header .menu-nav__btn.menu-nav__btn--hover-disabled button:hover {
    background-color: rgb(245, 245, 245);
    box-shadow: none;
    transition: none;
  }
  .header .menu-nav__btn.menu-nav__btn--hover-disabled button:active {
    top: 0;
    box-shadow: none;
  }
  .header .burger-menu {
    display: flex;
  }
  .header .container-lg:target .burger-menu {
    display: none;
  }
  .header .container-lg:target .burger-menu__close {
    display: block;
  }
  .header .container-lg:target .burger-menu__close::before, .header .container-lg:target .burger-menu__close::after {
    background-color: #fff;
  }
  .header .container-lg:target .menu-nav {
    display: flex;
  }
}

.main {
  flex: 1 1 auto;
}

.introduce {
  overflow: hidden;
}
.introduce .introduce__row {
  display: grid;
  grid-template: minmax(auto, 820px)/repeat(2, 1fr);
}
@media (max-width: 1200px) {
  .introduce .introduce__row {
    grid-template: minmax(auto, 720px)/repeat(2, 1fr);
  }
}
@media (max-width: 991.98px) {
  .introduce .introduce__row {
    grid-template: minmax(auto, 620px)/repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .introduce .introduce__row {
    grid-template: minmax(auto, 520px)/repeat(2, 1fr);
  }
}
.introduce .introduce__bg {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
}
.introduce .introduce__bg img {
  width: 100%;
  max-width: 1121px;
  position: absolute;
  top: -49px;
  left: 23vw;
  z-index: 0;
}
@media (min-width: 1400px) {
  .introduce .introduce__bg img {
    width: 100%;
    max-width: 1121px;
    position: absolute;
    top: -49px;
    left: 341px;
    z-index: 0;
  }
}
@media (max-width: 767.98px) {
  .introduce .introduce__bg img {
    top: 0;
    opacity: 0.2;
  }
}
.introduce .introduce__content {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .introduce .introduce__content {
    grid-column: 1/3;
    text-align: center;
  }
}
.introduce .introduce__content .introduce__inner {
  padding-top: 300px;
}
@media (max-width: 1200px) {
  .introduce .introduce__content .introduce__inner {
    padding-top: 200px;
  }
}
@media (max-width: 991.98px) {
  .introduce .introduce__content .introduce__inner {
    padding-top: 150px;
  }
}
@media (max-width: 767.98px) {
  .introduce .introduce__content .introduce__inner {
    max-width: 545px;
    margin: 0 auto;
    padding-top: 150px;
  }
}
.introduce .introduce__content .introduce__title {
  color: #091133;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .introduce .introduce__content .introduce__title {
    font-size: 3.125rem !important;
  }
}
.introduce .introduce__content .introduce__text {
  margin-bottom: 70px;
}
@media (max-width: 767.98px) {
  .introduce .introduce__content .introduce__text {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .introduce .introduce__content .introduce__text {
    margin-bottom: 30px;
  }
}
.introduce .introduce__content .introduce__text p {
  color: #6F7CB2;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 167%;
}
@media (max-width: 991.98px) {
  .introduce .introduce__content .introduce__text p {
    font-size: 1rem;
  }
}
@media (max-width: 767.98px) {
  .introduce .introduce__content .introduce__text p {
    font-size: 0.875rem;
  }
}
.introduce .introduce__content .introduce__buttons {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
@media (max-width: 767.98px) {
  .introduce .introduce__content .introduce__buttons {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .introduce .introduce__content .introduce__buttons {
    flex-direction: column;
    gap: 20px 0;
  }
}
.introduce .introduce__content .buttons button {
  width: 190px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 162%;
  transition: background-color 0.2s linear 0s;
}
.introduce .introduce__content .buttons button:hover {
  background-color: #112167;
  box-shadow: 0 1px 2px 2px #111B47;
  transition: background-color 0.2s linear 0s;
}
.introduce .introduce__content .buttons button:active {
  top: 2px;
  box-shadow: none;
}
.introduce .introduce__content .button__purchase {
  color: #fff;
  background-color: #111B47;
}
.introduce .introduce__content .button__learn-more {
  color: #111B47;
  background-color: transparent;
  border: 1px solid #111B47;
  transition: all 0.2s linear 0s;
}
.introduce .introduce__content .button__learn-more:hover {
  color: #fff;
  transition: all 0.2s linear 0s;
}

.light .light__row {
  align-items: center;
  padding: 110px 0;
}
@media (max-width: 991.98px) {
  .light .light__row {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .light .light__row {
    flex-direction: column;
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .light .light__row {
    padding: 30px 0;
  }
}
.light .light__img {
  flex: 0 1 45%;
  display: flex;
  justify-content: center;
}
.light .light__content {
  flex: 0 1 55%;
  padding: 0 30px 0 60px;
}
@media (max-width: 767.98px) {
  .light .light__content {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .light .light__content {
    padding: 0 15px;
  }
}
.light .light__desc {
  margin-bottom: 80px;
}
@media (max-width: 767.98px) {
  .light .light__desc {
    margin-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .light .light__desc {
    margin-bottom: 40px;
  }
}
.light .title {
  color: #091133;
  font-weight: 500;
  line-height: 133%;
}
@media (min-width: 1200px) {
  .light .title {
    font-size: 2.25rem !important;
  }
}
.light .text {
  color: #6F7CB2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
}
@media (max-width: 767.98px) {
  .light .columns-light {
    gap: 15px 0;
  }
}
.light .columns-light__logo {
  margin-bottom: 14px;
}
.light .columns-light__title {
  color: #091133;
  font-size: 1rem;
  font-weight: 500;
  line-height: 162%;
}
.light .columns-light__text {
  color: #5D6970;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}

.fast .fast__row {
  flex-wrap: wrap-reverse;
  padding: 122px 0 130px;
}
@media (max-width: 991.98px) {
  .fast .fast__row {
    gap: 30px 0;
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .fast .fast__row {
    padding: 50px 0;
  }
}
.fast .fast__content {
  max-width: 445px;
  margin-left: auto;
}
@media (max-width: 991.98px) {
  .fast .fast__content {
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 567px) {
  .fast .fast__content {
    max-width: 100%;
  }
}
@media (max-width: 991.98px) {
  .fast .fast__img {
    display: flex;
    justify-content: center;
  }
}
.fast .title {
  color: #091133;
  font-weight: 500;
  line-height: 133%;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .fast .title {
    font-size: 2.25rem !important;
  }
}
.fast .text {
  color: #6F7CB2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
}

.powerful .powerful__row {
  flex-wrap: wrap-reverse;
  padding: 92px 0 114px;
}
@media (max-width: 991.98px) {
  .powerful .powerful__row {
    gap: 30px 0;
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .powerful .powerful__row {
    padding: 50px 0;
  }
}
.powerful .powerful__content {
  max-width: 445px;
  margin-left: auto;
}
@media (max-width: 991.98px) {
  .powerful .powerful__content {
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 567px) {
  .powerful .powerful__content {
    max-width: 100%;
  }
}
@media (max-width: 991.98px) {
  .powerful .powerful__img {
    display: flex;
    justify-content: center;
  }
}
.powerful .title {
  color: #091133;
  font-weight: 500;
  line-height: 133%;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .powerful .title {
    font-size: 2.25rem !important;
  }
}
.powerful .text {
  color: #6F7CB2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
}

.purchase .purchase__row {
  flex-wrap: wrap-reverse;
  padding: 92px 0 114px;
}
@media (max-width: 991.98px) {
  .purchase .purchase__row {
    gap: 40px 0;
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .purchase .purchase__row {
    padding: 50px 0;
  }
}
.purchase .purchase__content {
  max-width: 445px;
  margin-left: auto;
}
@media (max-width: 991.98px) {
  .purchase .purchase__content {
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 567px) {
  .purchase .purchase__content {
    max-width: 100%;
  }
}
@media (max-width: 991.98px) {
  .purchase .purchase__img {
    display: flex;
    justify-content: center;
  }
}
.purchase .title {
  color: #091133;
  font-weight: 500;
  line-height: 133%;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .purchase .title {
    font-size: 2.25rem !important;
  }
}
.purchase .text {
  color: #6F7CB2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
}
.purchase .purchase__btn {
  width: 150px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111B47;
  padding: 4px 0;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 171%;
  position: relative;
  transition: background-color 0.2s linear 0s;
}
.purchase .purchase__btn:hover {
  background-color: #112167;
  transition: background-color 0.2s linear 0s;
  box-shadow: 0 1px 2px 2px #111B47;
}
.purchase .purchase__btn:active {
  top: 2px;
  box-shadow: none;
}
@media (max-width: 991.98px) {
  .purchase .purchase__btn {
    margin: 0 auto;
  }
}

.price {
  background: url(../images/price-bg.png) 0 -15%/cover no-repeat;
}
@media (max-width: 1400px) {
  .price {
    background: url(../images/price-bg.png) 45% 0 no-repeat;
  }
}
.price .price__row {
  min-height: 807px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .price .price__row {
    min-height: 707px;
  }
}
@media (max-width: 767.98px) {
  .price .price__row {
    min-height: 607px;
  }
}
.price .price__content {
  flex: 0 1 52.6315789474%;
  text-align: center;
}
@media (max-width: 767.98px) {
  .price .price__content {
    flex: 0 1 70%;
  }
}
@media (max-width: 576px) {
  .price .price__content {
    flex: 0 1 100%;
  }
}
.price .price__caption {
  margin-bottom: 60px;
}
@media (max-width: 576px) {
  .price .price__caption {
    margin-bottom: 30px;
  }
}
.price .title {
  color: #091133;
  font-weight: 500;
  line-height: 133%;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .price .title {
    font-size: 2.25rem !important;
  }
}
.price .text {
  color: #6F7CB2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
}
.price .price__block {
  margin-bottom: 60px;
}
@media (max-width: 576px) {
  .price .price__block {
    margin-bottom: 30px;
  }
}
.price .price__block h2 {
  color: #222F65;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: 1px;
}
@media (min-width: 1200px) {
  .price .price__block h2 {
    font-size: 3.125rem !important;
  }
}
.price .price__block p {
  color: #37447E;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
}
.price .price__button p {
  color: #37447E;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
  margin-bottom: 10px;
}
.price .price__btn {
  width: 190px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111B47;
  border-radius: 2px;
  padding: 4px 0;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 171%;
  position: relative;
  transition: background-color 0.2s linear 0s;
}
.price .price__btn:hover {
  background-color: #112167;
  transition: background-color 0.2s linear 0s;
  box-shadow: 0 1px 2px 2px #111B47;
}
.price .price__btn:active {
  top: 2px;
  box-shadow: none;
}

.footer {
  background-color: #E7ECFF;
}
.footer .footer__top {
  padding: 67px 0 47px;
  border-bottom: 1px solid #CDD1D4;
}
@media (max-width: 1200px) {
  .footer .footer__top {
    padding: 57px 0 37px;
  }
}
@media (max-width: 991.98px) {
  .footer .footer__top {
    padding: 47px 0 27px;
  }
}
@media (max-width: 320px) {
  .footer .footer__top {
    flex-direction: column;
    gap: 25px 0;
    text-align: center;
  }
}
.footer .footer__top .foote__copyright {
  flex: 0 1 15%;
}
@media (max-width: 320px) {
  .footer .footer__top .foote__copyright {
    order: 3;
  }
}
.footer .footer__top .foote__copyright p {
  color: #939EA4;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 171%;
  margin: 0;
}
.footer .footer__top .footer__logo {
  flex: 0 1 8%;
}
@media (max-width: 320px) {
  .footer .footer__top .footer__logo {
    order: 1;
  }
}
.footer .footer__top .footer__logo h2 {
  color: #37447E;
  font-size: 1.625rem;
  font-weight: 900;
  line-height: 146%;
  margin: 0;
}
.footer .footer__top .footer__button {
  flex: 0 1 12.8947368421%;
}
@media (max-width: 320px) {
  .footer .footer__top .footer__button {
    order: 2;
  }
}
.footer .footer__top .footer__button button {
  width: 109px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111B47;
  border-radius: 2px;
  padding: 4px 0;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 171%;
  position: relative;
  transition: background-color 0.2s linear 0s;
}
.footer .footer__top .footer__button button:hover {
  background-color: #112167;
  transition: background-color 0.2s linear 0s;
  box-shadow: 0 1px 2px 2px #111B47;
}
.footer .footer__top .footer__button button:active {
  top: 2px;
  box-shadow: none;
}
.footer .footer__menu {
  padding: 24px 0;
}
@media (max-width: 576px) {
  .footer .menu-footer {
    flex-direction: column;
    gap: 30px 0;
  }
}
.footer .menu-footer .menu-footer__item {
  flex: 0 1 21.4912280702%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
@media (max-width: 991.98px) {
  .footer .menu-footer .menu-footer__item {
    flex: 0 1 25.4912280702%;
  }
}
@media (max-width: 576px) {
  .footer .menu-footer .menu-footer__item {
    width: 55%;
    gap: 0 15px;
  }
}
.footer .menu-footer .menu-footer__item .menu-footer__link {
  color: #505F98;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 171%;
}
.footer .menu-footer .menu-footer__social {
  flex: 0 1 17.5438596491%;
}
@media (max-width: 991.98px) {
  .footer .menu-footer .menu-footer__social {
    flex: 0 1 28.5438596491%;
  }
}
@media (max-width: 576px) {
  .footer .menu-footer .menu-footer__social {
    width: 40%;
  }
}
.footer .menu-footer .menu-footer__social.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
@media (max-width: 576px) {
  .footer .menu-footer .menu-footer__social.social {
    gap: 0 15px;
  }
}